@import "app/styles/_variables";

.stats-section {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

h3 {
  margin-bottom: 10px;
}

.stat-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.stat-item-title {
  color: #636e72;
}

.stat-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}