@import "app/styles/_variables";

.actions-section {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttons>div {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #E5E5E5;
}