@import "../../../app/styles/variables";

.header {
  display: flex;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
  background-color: $prm;
  padding: 20px;
  gap: 20px;
}

.header h2 {
  font-size: 1.8rem;
  margin-bottom: 5px;
  color: #222;
}