@import "app/styles/variables";

.contest-result-container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.header-section {
  width: 100%;
}

.wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
}

.content {
  flex: 1;
}

.sidebar {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}