@import "app/styles/_variables";

.details-header-section {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.information {
  display: flex;
  gap: 20px;
  align-items: center;
}

.information-item {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 0.9rem;
  color: #636e72;
}

.desc {
  color: #636e72;
}

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed-icon {
  background-color: $easy;
  color: $secondary-light;
  border-radius: 15px;
  padding: 3px 10px;
}
