@import "../../app/styles/variables";

.hero {
  text-align: center;
  padding: 60px 20px;

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.features {
  padding: 40px 20px;
  text-align: center;
  color: black;

  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
}

.feature-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #4a4a4a;
  flex-wrap: wrap;
}

.feature-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  max-width: 300px;

  h3 {
    color: #6c5ce7;
    margin-bottom: 10px;
  }
}

.current-contests {
  padding: 40px 20px;
  text-align: center;
  color: white;

  h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
}

.contest-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;

  h3 {
    color: #6c5ce7;
  }
}

.contest-link {
  color: #00cec9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
