.editor-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
}

.skeleton {
  background: linear-gradient(
                  90deg,
                  #e0e0e0 25%,
                  #f5f5f5 37%,
                  #e0e0e0 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  border-radius: 8px;
}

.skeleton-toolbar {
  height: 40px;
  width: 100%;
}

.skeleton-editor {
  flex: 1;
  width: 100%;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}
