@import "../../app/styles/variables";

/* Code.jsx */
.contest-page {
  display: flex;
  padding: 20px;
  color: #1e1e2f;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.code-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.code-editor {
  background-color: #1e1e2f;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
    color: #6c5ce7;
  }
}

.code-area {
  width: 50%;
  height: 300px;
  background-color: #2d2d3c;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  padding: 10px;
  resize: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: 2px solid #6c5ce7;
  }
}

.execution-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 1.2rem;
    margin: 0 0 10px;
    color: #6c5ce7;
  }
}

.run-button {
  background-color: #6c5ce7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: #5b4dcc;
  }
}




