@import "app/styles/_variables";

.problems-section {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

h3 {
  margin-bottom: 10px;
}

.problems-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.problems-item-title {
  color: #636e72;
}

.problems-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.progress-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.progress-bar {
  width: 70px;
  height: 8px;
  border-radius: 10px;
  background: #E5E5E5;
}

.progress-bar>div {
  background-color: #737373;
  width: 70%;
  height: 8px;
  border-radius: 10px;
}