@import "src/styles/_variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $secondary-light;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: $primary;
    }

    &.active {
      color: #d58000;
      border-bottom: 2px solid $primary;
    }
  }
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.user_menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user_profile {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  background-color: #a8b1ff;
  border-radius: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.logout_button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:hover {
    background-color: #e04343;
    transform: scale(1.1);
  }

  svg {
    font-size: 16px;
  }
}