.contests-container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}


.skeleton {
  background: #e0e0e0;
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  line-height: 1;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
                  90deg,
                  transparent,
                  rgba(255, 255, 255, 0.4),
                  transparent
  );
  animation: loading 1.5s infinite;
}

@keyframes loading {
  100% {
    left: 100%;
  }
}
