/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7fc;
  color: #333;
  line-height: 1.6;
}

/* Contests Page Container */
.contests-container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.contests-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #2d3436;
}

.contests-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center; /* Center the grid as a whole */
}

/* Contest Card */
.contest-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contest-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.contest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contest-header h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #2d3436;
}

.contest-status {
  padding: 5px 12px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1rem;
}

.contest-status.upcoming {
  background-color: #00b894;
  color: #fff;
}

.contest-status.ongoing {
  background-color: #e67e22;
  color: #fff;
}

.contest-description {
  margin: 20px 0;
  color: #636e72;
  font-size: 1rem;
  font-weight: 300;
}

.contest-dates {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #636e72;
  margin: 10px 0;
}

.contest-join-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #6c5ce7;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contest-join-btn:hover {
  background-color: #5e4dca;
  transform: translateY(-2px);
}
.no-contests {
  text-align: center;
  padding: 20px;
}

.no-contests-image {
  max-width: 300px;
  width: 100%;
  margin: 20px auto;
  display: block;
}

.no-contests-message {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0 10px;
  color: #2d3436;
}

.no-contests-description {
  font-size: 1rem;
  color: #636e72;
  margin-bottom: 20px;
}

.no-contests .my-button {
  padding: 10px 20px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.no-contests .my-button:hover {
  background-color: #5e4dca;
  transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .contests-title {
    font-size: 2rem;
  }

  .contest-card {
    padding: 15px;
  }

  .contest-join-btn {
    padding: 8px 16px;
  }
}
